* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  background: whitesmoke;
  -webkit-transition: .9s ease all;
  transition: .9s ease all;
}

body.dark {
  background: #00090c;
}

.menu-toggle {
  display: none;
  margin-left: auto;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
}

.logo a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Press Start2P", cursive;
}

.logo {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: .08%;
  width: 80px;
  height: 50px;
  padding-bottom: 10px;
}

#menu {
  margin-left: auto;
}

#menu ul li a {
  display: inline-block;
  position: relative;
  color: #00313f;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.7rem;
  padding: 0 9px;
}

body.dark #menu ul li a {
  color: #ececec;
}

#menu ul li a:hover {
  color: #000;
  background-color: rgba(0, 255, 255, 0.514);
  border-radius: 55px;
  padding: 3px 10px;
  font-weight: bold;
}

.li-p p {
  display: inline-block;
  position: relative;
  color: #00313f;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.7rem;
  padding: 0 9px;
}

body.dark .li-p p {
  color: #ececec;
}

.li-p p:hover {
  color: #000;
  background-color: rgba(0, 255, 255, 0.514);
  border-radius: 55px;
  padding: 3px 10px;
  font-weight: bold;
}

.show {
  height: auto !important;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-left: 76%;
    width: 24%;
    height: 45px;
  }
  .menu-toggle {
    color: #00313f;
    position: absolute;
    display: block;
    padding-left: 15px;
    margin-top: -60px;
    width: 60%;
    z-index: 999;
  }
  body.dark .menu-toggle {
    color: #ececec;
  }
  #menu {
    z-index: 1;
    background: whitesmoke;
    position: absolute;
    top: 55px;
    width: 60%;
    height: 0;
    overflow: hidden;
    -webkit-transition: .9s ease all;
    transition: .9s ease all;
  }
  body.dark #menu {
    background: #00090c;
  }
  #menu ul li {
    display: block;
    text-align: left;
  }
  #menu ul li a {
    font-size: 20px;
    width: 100%;
  }
  #menu ul li a:hover {
    font-weight: bold;
  }
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.btn-buscar {
  position: absolute;
  margin-top: 18px;
  margin-left: calc(0% - 50px);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.buscar {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(/assets/icons/loupe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

body.dark .buscar {
  background-image: url(/assets/icons/loupe1.png);
}

.carousel-item__img0 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(https://seriescienciaficcion.files.wordpress.com/2020/11/disney-plus-wandavision-premiere-date.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .carousel-item__img0 {
    width: 100%;
    height: 500px;
    background-image: url(https://www.magazine-hd.com/apps/wp/wp-content/uploads/2020/09/wandavision-poster-691x1024.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.container-details {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5px;
}

.container-details article {
  width: 90%;
  top: 20vh;
  margin-left: 5%;
  padding: 1rem;
  border-radius: 10px;
}

.container-details article h1 {
  width: 90%;
  margin-left: 5%;
  font-size: 5.3rem;
  line-height: 4.2rem;
  color: #FEFEFE;
  text-shadow: 3px 3px 3px #000;
  text-align: center;
}

body.dark .container-details article h1 {
  text-shadow: 2px 2px 8px #000e20;
}

@media screen and (max-width: 500px) {
  .container-details article h1 {
    width: 98%;
    margin-left: 1%;
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
}

.container-details article h4 {
  width: 90%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: #000e20;
  text-shadow: 3px 3px 3px #FEFEFE;
  text-align: center;
}

body.dark .container-details article h4 {
  color: #FEFEFE;
  text-shadow: 2px 2px 8px #000;
}

@media screen and (max-width: 500px) {
  .container-details article h4 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

.input {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #000e20;
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 50px;
  color: #000e20;
  font-size: 1.6rem;
  padding: 0px 20px;
}

body.dark .input {
  border: 2px solid #FEFEFE;
  color: #FEFEFE;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #00313f;
}

:-ms-input-placeholder {
  color: #00313f;
}

::-ms-input-placeholder {
  color: #00313f;
}

::placeholder {
  color: #00313f;
}

body.dark ::-webkit-input-placeholder {
  color: #FEFEFE;
}

body.dark :-ms-input-placeholder {
  color: #FEFEFE;
}

body.dark ::-ms-input-placeholder {
  color: #FEFEFE;
}

body.dark ::placeholder {
  color: #FEFEFE;
}

.categorias {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categorias a {
  margin: 0px 20px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 33px;
}

.categorias a.activo {
  color: #000e20 !important;
}

body.dark .categorias a.activo {
  color: #22bced !important;
}

.user {
  display: inline-block;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  margin-top: 1rem;
  background-image: url(../assets/icons/profile-user.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.phone {
  display: inline-block;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  margin-top: 1rem;
  background-image: url(../assets/icons/phone-call.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.mail {
  display: inline-block;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  margin-top: 1rem;
  background-image: url(../assets/icons/email.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.font {
  display: inline-block;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  margin-top: 1rem;
  background-image: url(../assets/icons/font.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.columna2 {
  border-right: solid 0.25px #00090c;
}

@media screen and (max-width: 600px) {
  .columna2 {
    border-right: none;
  }
}

.columna3 {
  border-left: solid 0.25px #00090c;
}

@media screen and (max-width: 900px) {
  .columna3 {
    border-top: solid 0.25px #00090c;
    border-left: none !important;
  }
}

body.dark .columna2 {
  border-right: solid 0.25px whitesmoke;
}

body.dark .columna3 {
  border-top: solid 0.25px whitesmoke;
  border-left: solid 0.25px whitesmoke;
}

@media screen and (min-width: 900px) {
  body.dark .columna3 {
    border-top: solid 0.25px transparent;
  }
}

body.dark .columna3 p {
  color: #ececec;
}

.grid {
  /* border: solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 93%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear 1s;
  transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
  opacity: 1;
}

.grid .item {
  border: #000e20 solid 1px;
  background-color: transparent;
  border-radius: 25px;
  position: absolute;
  display: block;
  padding: 0;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

body.dark .grid .item {
  border: #FEFEFE solid 1px;
}

.grid .item-contenido {
  position: relative;
}

.grid .item img {
  width: 20%;
  border-radius: 100px;
  cursor: pointer;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .grid .item img {
    width: 25%;
  }
}

.main-container-photo {
  margin-top: 10px;
  margin-left: 10px;
  border: solid 3px #FEFEFE;
  border-radius: 50%;
}

.main-container-inf-index {
  width: 80%;
  left: 20%;
  position: absolute;
  top: 1rem;
}

@media screen and (max-width: 600px) {
  .main-container-inf-index {
    width: 75%;
    left: 25%;
  }
}

@media screen and (min-width: 600px) {
  .main-container-inf-index {
    top: 0px;
  }
}

.main-container-inf-index h2 {
  color: #000e20;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .main-container-inf-index h2 {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }
}

@media screen and (min-width: 600px) {
  .main-container-inf-index h2 {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
}

body.dark .main-container-inf-index h2 {
  color: #22bced;
}

.main-container-inf-index h3 {
  color: #222222;
  margin-top: -3rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .main-container-inf-index h3 {
    font-size: 1.2rem;
    margin-top: -1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .main-container-inf-index h3 {
    font-size: 1.5rem;
    margin-top: -2.5rem;
  }
}

body.dark .main-container-inf-index h3 {
  color: #ececec;
}

.container-inf--card {
  width: 94%;
  margin: 4px auto;
}

.container-inf--card article p,
a {
  color: #2b2b2b;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .container-inf--card article p,
  a {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

body.dark .container-inf--card article p, body.dark
a {
  color: #FEFEFE;
}

@media screen and (max-width: 500px) {
  .grid .item {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
  }
}

.buttons-index {
  /* border: green solid 2px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  padding: 0px;
  margin-bottom: 10px;
}

.button-index {
  border: #00313f solid 2px;
  border-radius: 5px;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.button-index a {
  padding: 3px;
  width: 100%;
  text-align: center;
  color: #00313f;
}

.button-index a:hover {
  background-color: #00313f;
  color: white;
}

.button1-index {
  border: #00313f solid 2px;
  border-radius: 5px;
  margin-left: 2.5%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.button1-index a {
  padding: 3px;
  width: 100%;
  text-align: center;
  color: #00313f;
}

.button1-index a:hover {
  background-color: #00313f;
  color: white;
}

.columna3 {
  padding: 5%;
}

.columna3 hgroup {
  width: auto;
  border-bottom: 1.5px solid #00313f;
  margin-bottom: 10px;
}

.news-h2 {
  color: #FEFEFE;
  width: 32%;
  padding: 2px 6px;
  background-color: #00313f;
  border-radius: 5px 5px 0px 0px;
}

.columna3 img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.columna3 h3 {
  font-size: 1.3rem;
  line-height: 1.2rem;
  color: #000e20;
}

.columna3 h3:hover {
  color: #22bced;
  cursor: pointer;
}

body.dark .columna3 h3 {
  color: #FEFEFE;
}

body.dark .columna3 h3:hover {
  color: #22bced;
}

.columna3 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #00313f solid 1.5px;
  margin-bottom: 20px;
}

.columna3 a p {
  font-size: 0.85rem;
  margin-right: 5px;
}

.columna3 a p:hover {
  text-decoration: underline;
}

.home {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/icons/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .home {
  background-image: url(/assets/icons/home1.png);
}

.users {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/icons/notebook-of-contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .users {
  background-image: url(/assets/icons/notebook-of-contacts1.png);
}

.news {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/newspaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .news {
  background-image: url(/assets/icons/newspaper1.png);
}

.user {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/usuario.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}

body.dark .user {
  background-image: url(/assets/icons/user1.png);
}

.theme {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/moon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .theme {
  background-image: url(/assets/icons/sun.png);
}

.calendar {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(/assets/icons/calendar.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .calendar {
  background-image: url(/assets/icons/calendar1.png);
}

.user1 {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/usuario.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark .user1 {
  background-image: url(/assets/icons/user1.png);
}

body.dark .container-profile--photo {
  border: #00090c solid 6px;
  background-color: #00090c;
}

body.dark .container-profile--inf h2, body.dark
.container-profile--inf h3, body.dark
.container-profile--inf h4, body.dark
.container-profile--inf p {
  color: #FEFEFE;
}

body.dark .button-profile {
  border: #22bced solid 2px;
}

body.dark .button-profile a {
  color: #22bced;
}

body.dark .currency-table--container td, body.dark
.card-profile--inf h4, body.dark
.plan-card--price, body.dark
.plan-card--saving, body.dark
.plan-card--ca {
  color: #FEFEFE;
}

.columna2,
.columna3 {
  -webkit-transition: .9s ease all;
  transition: .9s ease all;
}

body.dark .columna2, body.dark
.columna3 {
  background-color: #00090c;
}

.prueba--x {
  background-color: whitesmoke;
}

body.dark .prueba--x {
  -webkit-transition: .9s ease all;
  transition: .9s ease all;
  background-color: #00090c;
}

.prueba--x1 {
  background-color: transparent;
}
/*# sourceMappingURL=estilos.css.map */