$negro: #000;
$blanco: #FEFEFE;
$redOscuro: #1f0102;
$blancoMedio: #88888811;
$blancoOscuro: rgb(228, 228, 228);
$grisMedio: rgb(209, 209, 209);
$grisOscuro: #222222;
$grisClaro: #ececec;
$grisClaroHover: #ACABAB;
$azul: #194074;
$azultext: #000e20;
$azulshadow: #22bced;
$azulHover: #00313f;
$azuldark: #00090c;
$morado: #8921c0;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, .16);
$sombraLight: 10px 10px 0px rgba(0, 0, 0, .16);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html main {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    background: whitesmoke;
    transition: .9s ease all;
}

body.dark {
    background: $azuldark;
}

// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
.menu-toggle {
    display: none;
    margin-left: auto;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

.logo a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "Press Start2P", cursive;
}

.logo {
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: .08%;
    width: 80px;
    height: 50px;
    padding-bottom: 10px;
}

#menu {
    margin-left: auto;
}

#menu ul li a {
    display: inline-block;
    position: relative;
    color: $azulHover;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.7rem;
    padding: 0 9px;
    // transition: .9s ease all;
    body.dark & {
        color: $grisClaro;
    }
}

#menu ul li a:hover {
    color: $negro;
    background-color: rgba(0, 255, 255, 0.514);
    border-radius: 55px;
    padding: 3px 10px;
    font-weight: bold;
}

.li-p p {
    display: inline-block;
    position: relative;
    color: $azulHover;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.7rem;
    padding: 0 9px;
    body.dark & {
        color: $grisClaro;
    }
}

.li-p p:hover{
    color: $negro;
    background-color: rgba(0, 255, 255, 0.514);
    border-radius: 55px;
    padding: 3px 10px;
    font-weight: bold;  
}
.show {
    height: auto !important;
}

@media screen and (max-width:600px) {
    .logo {
        // border: solid red 1px;
        // margin-top: -2px;
        // margin-bottom: 3px;
        margin-left: 76%;
        width: 24%;
        height: 45px;
        // padding: 10px;
    }
    .menu-toggle {
        // border: solid red 1px;
        color: $azulHover;
        // background-color: whitesmoke;
        position: absolute;
        display: block;
        padding-left: 15px;
        margin-top: -60px;
        width: 60%;
        z-index: 999;
        body.dark & {
            color: $grisClaro;
            // background-color: $blanco;
        }
    }
    #menu {
        // border-right: solid red 1px;
        z-index: 1;
        background: whitesmoke;
        position: absolute;
        top: 60px;
        width: 60%;
        height: 0;
        overflow: hidden;
        transition: .9s ease all;
        // transition: .3s ease-out;
        body.dark & {
            background: $azuldark;
        }
    }
    #menu ul li {
        // border: solid red 1px;
        display: block;
        text-align: left;
    }
    #menu ul li a {
        font-size: 20px;
        width: 100%;
    }
    #menu ul li a:hover {
        font-weight: bold;
    }
}

a {
    color: $grisOscuro;
    text-decoration: none;
    font-weight: 500;
}

.btn-buscar {
    position: absolute;
    margin-top: 18px;
    margin-left: calc(0% - 50px);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.buscar {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/icons/loupe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    body.dark & {
        background-image: url(/assets/icons/loupe1.png);
    }
}

.carousel-item__img0 {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(https://seriescienciaficcion.files.wordpress.com/2020/11/disney-plus-wandavision-premiere-date.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    @media screen and (max-width: 500px) {
        width: 100%;
        height: 500px;
        background-image: url(https://www.magazine-hd.com/apps/wp/wp-content/uploads/2020/09/wandavision-poster-691x1024.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

// B U S C A D O R 
.container-details {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.container-details article {
    width: 90%;
    top: 20vh;
    margin-left: 5%;
    padding: 1rem;
    border-radius: 10px;
}

.container-details article h1 {
    width: 90%;
    // top: 0px;
    margin-left: 5%;
    font-size: 5.3rem;
    line-height: 4.2rem;
    color: $blanco;
    text-shadow: 3px 3px 3px $negro;
    text-align: center;
    body.dark & {
        text-shadow: 2px 2px 8px $azultext;
    }
    @media screen and (max-width:500px) {
        width: 98%;
        margin-left: 1%;
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
}

.container-details article h4 {
    // border: red solid;
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
    color: $azultext;
    text-shadow: 3px 3px 3px $blanco;
    text-align: center;
    body.dark & {
        color: $blanco;
        text-shadow: 2px 2px 8px $negro;
    }
    @media screen and (max-width:500px) {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    justify-content: center;
    border: 2px solid $azultext;
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 50px;
    color: $azultext;
    font-size: 1.6rem;
    padding: 0px 20px;
    body.dark & {
        border: 2px solid $blanco;
        color: $blanco;
    }
}

input:focus {
    outline: none;
}

::placeholder {
    color: #00313f;
    body.dark & {
        color: $blanco;
    }
}

.categorias {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.categorias a {
    margin: 0px 20px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 33px;
}

.categorias a.activo {
    color: $azultext !important;
    body.dark & {
        color: $azulshadow !important;
    }
}

.user {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/profile-user.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.phone {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/phone-call.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.mail {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/email.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

.font {
    display: inline-block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
    background-image: url(../assets/icons/font.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 0;
}

// T H E M E
.columna2 {
    border-right: solid 0.25px $azuldark;
    @media screen and (max-width: 600px) {
        border-right: none;
    }
}

.columna3 {
    border-left: solid 0.25px $azuldark;
    @media screen and (max-width: 900px) {
        border-top: solid 0.25px $azuldark;
        border-left: none !important;
    }
}

body.dark {
    .columna2 {
        border-right: solid 0.25px whitesmoke;
    }
    .columna3 {
        border-top: solid 0.25px whitesmoke;
        border-left: solid 0.25px whitesmoke;
        @media screen and (min-width: 900px) {
            border-top: solid 0.25px transparent;
        }
        p {
            color: $grisClaro;
        }
    }
}

// /* Grid */
.grid {
    /* border: solid red; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 93%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
    // border: RED solid 1px;
    border: $azultext solid 1px;
    background-color: transparent;
    border-radius: 25px;
    position: absolute;
    display: block;
    padding: 0;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    body.dark & {
        border: $blanco solid 1px;
    }
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 20%;
    border-radius: 100px;
    cursor: pointer;
    vertical-align: top;
    @media screen and (max-width: 600px) {
        width: 25%;
    }
}

.main-container-photo {
    margin-top: 10px;
    margin-left: 10px;
    border: solid 3px $blanco;
    border-radius: 50%;
}

.main-container-inf-index {
    // border: solid red 1px;
    width: 80%;
    left: 20%;
    position: absolute;
    top: 1rem;
    @media screen and (max-width: 600px) {
        width: 75%;
        left: 25%;
    }
    @media screen and (min-width: 600px) {
        top: 0px;
    }
}

.main-container-inf-index h2 {
    color: $azultext;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5rem;
    padding: 5%;
    @media screen and (max-width: 600px) {
        font-size: 1.5rem;
        line-height: 1.3rem;
    }
    @media screen and (min-width: 600px) {
        font-size: 1.75rem;
        line-height: 1.5rem;
    }
    body.dark & {
        color: $azulshadow;
    }
}

.main-container-inf-index h3 {
    color: $grisOscuro;
    margin-top: -3rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    padding: 5%;
    @media screen and (max-width: 600px) {
        font-size: 1.2rem;
        margin-top: -1.5rem;
    }
    @media screen and (min-width: 600px) {
        font-size: 1.5rem;
        margin-top: -2.5rem;
    }
    body.dark & {
        color: $grisClaro;
    }
}

.container-inf--card {
    // border: yellow solid 1px;
    width: 94%;
    margin: 4px auto;
}

.container-inf--card article p,
a {
    // border: red solid 1px;
    color: rgb(73, 73, 73);
    font-size: 1.4rem;
    line-height: 1.7rem;
    @media screen and (max-width: 600px) {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    body.dark & {
        color: $blanco;
    }
}

@media screen and (max-width: 500px) {
    .grid .item {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 3%;
    }
}

.buttons-index {
    /* border: green solid 2px; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 0px;
    margin-bottom: 10px;
}

.button-index {
    border: #00313f solid 2px;
    border-radius: 5px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

.button-index a {
    padding: 3px;
    width: 100%;
    text-align: center;
    color: #00313f;
}

.button-index a:hover {
    background-color: #00313f;
    color: white;
}

.button1-index {
    border: #00313f solid 2px;
    border-radius: 5px;
    margin-left: 2.5%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.button1-index a {
    padding: 3px;
    width: 100%;
    text-align: center;
    color: #00313f;
}

.button1-index a:hover {
    background-color: #00313f;
    color: white;
}

// C O L U M N A 3 --- N E W S 
.columna3 {
    // border: solid red 1px;
    padding: 5%;
}

.columna3 hgroup {
    width: auto;
    border-bottom: 1.5px solid $azulHover;
    margin-bottom: 10px;
}

.news-h2 {
    color: $blanco;
    width: 32%;
    padding: 2px 6px;
    background-color: $azulHover;
    border-radius: 5px 5px 0px 0px;
}

.columna3 img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.columna3 h3 {
    font-size: 1.3rem;
    line-height: 1.2rem;
    color: $azultext;
    &:hover {
        color: $azulshadow;
        cursor: pointer;
    }
    body.dark & {
        color: $blanco;
        &:hover {
            color: $azulshadow;
        }
    }
}

.columna3 article {
    display: flex;
    border-bottom: $azulHover solid 1.5px;
    margin-bottom: 20px;
}

.columna3 a p {
    // border: red solid 1px;
    // color: $grisOscuro;
    font-size: 0.85rem;
    margin-right: 5px;
    &:hover {
        text-decoration: underline;
    }
}

// I C O N S 
.home {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/assets/icons/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/home1.png);
    }
}

.users {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/assets/icons/notebook-of-contacts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/notebook-of-contacts1.png);
    }
}

.news {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/newspaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/newspaper1.png);
    }
}

.user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/usuario.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    body.dark & {
        background-image: url(/assets/icons/user1.png);
    }
}

.theme {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/moon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/sun.png);
    }
}

.calendar {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(/assets/icons/calendar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/calendar1.png);
    }
}

.user1 {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(https://profesionistasdetexcoco.carlosarturomt.com/assets/icons/usuario.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    body.dark & {
        background-image: url(/assets/icons/user1.png);
    }
}